.main{ width: 1200px; margin: 20px auto;}
.main .plan{ font-size: 0;}
.main .plan li{ display: inline-block; position: relative; width: 25%; text-align: center;}
.main .plan li span{ display: inline-block; width: 12px; height: 12px; border: 3px solid #ddd; border-radius: 50%;}
.main .plan li p{ font: 14px/26px "microsoft yahei"; color: #999;}
.main .plan li.cur span{ border-color: #E85041;}
.main .plan li.cur p{ color: #666;}
.main .plan li.on em{ background: #fcd6d2;}
.main .plan li em{ position: absolute; left: 55%; top: 7px; background: #ddd; height: 4px; width: 90%;}

.form{ border: 1px solid #ddd; padding: 40px 20px; margin-top: 30px;}
.form .title{ border-bottom: 1px solid #ddd;}
.form .title b{ font: 20px/32px "microsoft yahei"; color: #333;}
.form .title span{ font: 14px/24px "microsoft yahei"; color: #999; margin-left: 20px;}
.form .text1{ width: 352px; margin: 50px auto 0; }
.form .text1 ul{ border: 1px solid #ddd;}
.form .text1 ul li{ font-size: 0; border-bottom: 1px solid #ddd; height: 52px;}
.form .text1 ul li span{ font: 14px/52px "microsoft yahei"; color: #333; display: inline-block; width: 88px; text-align: center; vertical-align: middle;}
.form .pword ul li span{ font: 12px/52px "microsoft yahei"; color: #333; display: inline-block; width: 88px; text-align: center; vertical-align: middle;}
.form .text1 ul li .text{ width: 262px; height: 52px; border: none; vertical-align: middle; outline: medium;}
.form .text1 ul li .yzm{ width: 100px; height: 52px; border: none; outline: medium; vertical-align: middle; border-right: 1px solid #ddd;}
.form .text1 ul li em{ display: inline-block; vertical-align: middle; }
.form .text1 ul li em img{ margin-left: 10px; vertical-align: middle;}
.form .text1 ul li em a{ font: 14px/24px "microsoft yahei"; color: #E85041; vertical-align: middle; margin-left: 11px;}
.form .text1 .nextpage{ width: 100%; height: 40px; border: none; font: 14px/40px "microsoft yahei"; color: #fff; background: #E85041; border-radius: 4px; margin-top: 15px;}

.form .text1 dd{ font: 14px/24px "microsoft yahei"; color: #666; margin-bottom: 15px;}
.form .text1 dd a{ border: 1px solid #E85041; color: #666; padding: 0 8px;}
.form .text1 .yzm1{ border: 1px solid #ddd; height: 52px; font-size: 0;}
.form .text1 .yzm1 span{ width: 88px; font: 14px/52px "microsoft yahei";display: inline-block; color: #333; vertical-align: middle; text-align: center;}
.form .text1 .yzm1 .text{ width: 148px; height: 52px; border: none; vertical-align: middle; outline: medium;}
.form .text1 .yzm1 .btns{ width: 108px; height: 39px; border: 1px solid #E85041; font: 12px/39px "microsoft yahei"; color: #E85041; border-radius: 4px; background: none; margin-left: 0; vertical-align: middle; cursor: pointer;}

.form .text1 .cg{ text-align: center;}
.form .text1 .cg h3{ font: 27px/32px "microsoft yahei"; color: #666;}
.form .text1 .cg p{ font: 16px/27px "microsoft yahei"; color: #666;}
.form .text1 .cg p a{ color: #E85041;}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.main{ width: 98%; margin: 20px auto;}
	.main .plan{ font-size: 0;}
	.main .plan li{ display: inline-block; position: relative; width: 25%; text-align: center;}
	.main .plan li span{ display: inline-block; width: 12px; height: 12px; border: 3px solid #ddd; border-radius: 50%;}
	.main .plan li p{ font: 14px/26px "microsoft yahei"; color: #999;}
	.main .plan li.cur span{ border-color: #E85041;}
	.main .plan li.cur p{ color: #666;}
	.main .plan li em{ position: absolute; left: 55%; top: 7px; background: #ddd; height: 4px; width: 90%;}
	
	.form{ border: 1px solid #ddd; padding: 40px 20px; margin-top: 30px;}
	.form .title{ border-bottom: 1px solid #ddd;}
	.form .title b{ font: 20px/32px "microsoft yahei"; color: #333;}
	.form .title span{ font: 14px/24px "microsoft yahei"; color: #999; margin-left: 20px;}
	.form .text1{ width: 352px; margin: 50px auto 0; }
	.form .text1 ul{ border: 1px solid #ddd;}
	.form .text1 ul li{ font-size: 0; border-bottom: 1px solid #ddd; height: 52px;}
	.form .text1 ul li span{ font: 14px/52px "microsoft yahei"; color: #333; display: inline-block; width: 88px; text-align: center; vertical-align: middle;}
	.form .text1 ul li .text{ width: 262px; height: 52px; border: none; vertical-align: middle; outline: medium;}
	.form .text1 ul li .yzm{ width: 100px; height: 52px; border: none; outline: medium; vertical-align: middle; border-right: 1px solid #ddd;}
	.form .text1 ul li em{ display: inline-block; vertical-align: middle; }
	.form .text1 ul li em img{ margin-left: 10px; vertical-align: middle;}
	.form .text1 ul li em a{ font: 14px/24px "microsoft yahei"; color: #E85041; vertical-align: middle; margin-left: 11px;}
	.form .text1 .nextpage{ width: 100%; height: 40px; border: none; font: 14px/40px "microsoft yahei"; color: #fff; background: #E85041; border-radius: 4px; margin-top: 15px;}
	
	.form .pword ul li span{ width: 32%; }
	.form .pword ul li .text{ width: 68%; height: 42px; border: none; vertical-align: middle; outline: medium;}
	
	.form .text1 .cg{ text-align: center;}
	.form .text1 .cg h3{ font: 21px/32px "microsoft yahei"; color: #666;}
	.form .text1 .cg p{ font: 14px/27px "microsoft yahei"; color: #666;}
	.form .text1 .cg p a{ color: #E85041;}
}

@media only screen and (min-width: 640px) and (max-width: 959px) {
	.main{ width: 98%; margin: 20px auto;}
	.main .plan{ font-size: 0;}
	.main .plan li{ display: inline-block; position: relative; width: 25%; text-align: center;}
	.main .plan li span{ display: inline-block; width: 12px; height: 12px; border: 3px solid #ddd; border-radius: 50%;}
	.main .plan li p{ font: 14px/26px "microsoft yahei"; color: #999;}
	.main .plan li.cur span{ border-color: #E85041;}
	.main .plan li.cur p{ color: #666;}
	.main .plan li em{ position: absolute; left: 55%; top: 7px; background: #ddd; height: 4px; width: 90%;}
	
	.form{ border: 1px solid #ddd; padding: 40px 20px; margin-top: 30px;}
	.form .title{ border-bottom: 1px solid #ddd;}
	.form .title b{ font: 18px/32px "microsoft yahei"; color: #333;}
	.form .title span{ font: 14px/24px "microsoft yahei"; color: #999; margin-left: 20px;}
	.form .text1{ width: 352px; margin: 50px auto 0; }
	.form .text1 ul{ border: 1px solid #ddd;}
	.form .text1 ul li{ font-size: 0; border-bottom: 1px solid #ddd; height: 52px;}
	.form .text1 ul li span{ font: 14px/52px "microsoft yahei"; color: #333; display: inline-block; width: 88px; text-align: center; vertical-align: middle;}
	.form .text1 ul li .text{ width: 262px; height: 52px; border: none; vertical-align: middle; outline: medium;}
	.form .text1 ul li .yzm{ width: 100px; height: 52px; border: none; outline: medium; vertical-align: middle; border-right: 1px solid #ddd;}
	.form .text1 ul li em{ display: inline-block; vertical-align: middle; }
	.form .text1 ul li em img{ margin-left: 10px; vertical-align: middle;}
	.form .text1 ul li em a{ font: 14px/24px "microsoft yahei"; color: #E85041; vertical-align: middle; margin-left: 11px;}
	.form .text1 .nextpage{ width: 100%; height: 40px; border: none; font: 14px/40px "microsoft yahei"; color: #fff; background: #E85041; border-radius: 4px; margin-top: 15px;}
	
	.form .pword ul li span{ width: 32%; }
	.form .pword ul li .text{ width: 68%; height: 42px; border: none; vertical-align: middle; outline: medium;}
	
	.form .text1 .cg{ text-align: center;}
	.form .text1 .cg h3{ font: 18px/26px "microsoft yahei"; color: #666;}
	.form .text1 .cg p{ font: 14px/21px "microsoft yahei"; color: #666;}
	.form .text1 .cg p a{ color: #E85041;}
}

@media only screen and (min-width: 320px) and (max-width: 639px) {
	.main{ width: 98%; margin: 20px auto;}
	.main .plan{ font-size: 0;}
	.main .plan li{ display: inline-block; position: relative; width: 25%; text-align: center;}
	.main .plan li span{ display: inline-block; width: 10px; height: 10px; border: 2px solid #ddd; border-radius: 50%;}
	.main .plan li p{ font: 12px/26px "microsoft yahei"; color: #999;}
	.main .plan li.cur span{ border-color: #E85041;}
	.main .plan li.cur p{ color: #666;}
	.main .plan li em{ position: absolute; left: 59.5%; top: 7px; background: #ddd; height: 1px; width: 80%;}
	
	.form{ border:none; padding: 20px 0; margin-top: 10px;}
	.form .title{ border-bottom: 1px solid #ddd; padding-bottom: 10px;}
	.form .title b{ font: 14px/26px "microsoft yahei"; color: #333;}
	.form .title span{ font: 12px/20px "microsoft yahei"; color: #999; margin-left: 0; display: block;}
	.form .text1{ width: 100%; margin: 10px auto 0; }
	.form .text1 ul{ border: 1px solid #ddd;}
	.form .text1 ul li{ font-size: 0; border-bottom: 1px solid #ddd; height: 42px;}
	.form .text1 ul li span{ font: 12px/42px "microsoft yahei"; color: #333; display: inline-block; width: 25%; text-align: center; vertical-align: middle;}
	.form .text1 ul li .text{ width: 75%; height: 42px; border: none; vertical-align: middle; outline: medium;}
	.form .text1 ul li .yzm{ width: 25%; height: 42px; border: none; outline: medium; vertical-align: middle; border-right: 1px solid #ddd;}
	.form .text1 ul li em{ display: inline-block; vertical-align: middle; }
	.form .text1 ul li em img{ margin-left: 10px; vertical-align: middle;}
	.form .text1 ul li em a{ font: 12px/24px "microsoft yahei"; color: #E85041; vertical-align: middle; margin-left: 11px;}
	.form .text1 .nextpage{ width: 100%; height: 40px; border: none; font: 14px/40px "microsoft yahei"; color: #fff; background: #E85041; border-radius: 4px; margin-top: 15px;}
	
	
	/*password2*/
	.form .text1 dd{ font: 14px/24px "microsoft yahei"; color: #666; margin-bottom: 15px;}
	.form .text1 dd a{ border: 1px solid #E85041; color: #666; padding: 0 8px;}
	.form .text1 .yzm1{ border: 1px solid #ddd; height: 42px; font-size: 0;}
	.form .text1 .yzm1 span{ width: 25%; font: 14px/42px "microsoft yahei";display: inline-block; color: #333; vertical-align: middle; text-align: center;}
	.form .text1 .yzm1 .text{ width: 44%; height: 42px; border: none; vertical-align: middle; outline: medium;}
	.form .text1 .yzm1 .btns{ width: 30%; height: 39px; border: 1px solid #E85041; font: 12px/39px "microsoft yahei"; color: #E85041; border-radius: 4px; background: none; margin-left: 0; vertical-align: middle; cursor: pointer;}
	
	/*password3*/
	.form .pword ul li span{ width: 32%; }
	.form .pword ul li .text{ width: 68%; height: 42px; border: none; vertical-align: middle; outline: medium;}
	
	.form .text1 .cg{ text-align: center;}
	.form .text1 .cg h3{ font: 16px/24px "microsoft yahei"; color: #666;}
	.form .text1 .cg p{ font: 12px/21px "microsoft yahei"; color: #666;}
	.form .text1 .cg p a{ color: #E85041;}
}